<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/Scripts/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/Scripts/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body class="login-page" style="background-color:black;">
    @RenderBody()

    <!-- Jquery Core Js -->
    <script src="~/Scripts/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Scripts/plugins/bootstrap/js/bootstrap.js"></script>

    <script src="~/Scripts/plugins/node-waves/waves.js"></script>
    <script src="~/Scripts/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/Scripts/js/admin.js"></script>
    <script src="~/Scripts/js/pages/examples/sign-in.js"></script>
</body>

</html>