<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix action-group" ng-if="mode=='list'  && !processing.enable">
                    <div class="col-md-2">
                        <h2>Company</h2>
                    </div>
                    <div class="col-md-2" style="height:50px;padding-top:15px;">
                        <div class="button-demo pull-right">
                            <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" ng-click="ToAdd()">
                                <i class="material-icons">plus_one</i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4" style="height:50px;padding-top:15px;">
                        <div class="button-demo pull-right">
                            <md-fab-actions class="md-toolbar-tools" style="height:30px;">
                                <md-button aria-label="photo" class="md-icon-button" ng-click="ConfirmDelete()" ng-if="mode=='list' && checklistary.length > 0">
                                    <md-tooltip md-direction="top">Delete company</md-tooltip>
                                    <i class="material-icons">delete</i>
                                </md-button>
                            </md-fab-actions>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div layout-gt-sm="row" style="height:50px">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Search</label>
                                <input ng-keyup="Search()" ng-model="list.Search" autocomplete="off">
                            </md-input-container>
                        </div>
                    </div>

                </div>
                <div class="row clearfix action-group" ng-if="mode!='list'  && !processing.enable">
                    <div class="col-md-4">
                        <!--<h2>{{ (mode=='Account') ? 'Account' : 'Account' ? 'Department' : 'Department' ? 'Affilation' : 'Affilation' ? 'GateTerminal' : 'GateTerminal' }}</h2>-->
                    </div>
                </div>
                <div class="clearfix action-group" ng-if="processing.enable">
                    <h2 ng-if="processing.label == 'delete'"><i class="material-icons" style="vertical-align:-5px;">delete</i> Deleting company {{ checkindex }} of {{ checklistary.length }}</h2>
                </div>
            </div>
            <div class="body">

                <div ng-if="mode=='list'">
                    <!---  <a aria-label="photo" class="md-icon-button" ng-click="ToAdd()">
                              <md-tooltip md-direction="top">Edit detail</md-tooltip>
                              <i class="material-icons">edit</i>
                          </a>-->

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="font-size:12.5px;">
                            <thead>
                                <tr>
                                    <th>
                                        <center>
                                            <md-checkbox ng-model="checkAll" aria-label="select" class="md-warn"></md-checkbox>
                                        </center>
                                    </th>
                                    <th>Company Name</th>
                                    <th>Address</th>
                                    <th>MobileNumber</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list.data.AccountList" ng-if="!loading">
                                    <td>
                                        <center>
                                            <md-checkbox ng-model="checklist[item.AccountID]" ng-true-value="'{{ item.AccountID }}'" ng-false-value="{{null}}" aria-label="select" ng-change="checkchanged()" class="md-warn" ng-checked="checkAll"></md-checkbox>
                                        </center>
                                    </td>
                                    <td class="noright">
                                        {{item.AccountName}}
                                    </td>
                                    <td>
                                        {{item.Branch}}
                                    </td>
                                    <td>{{ item.EmailAddress }}</td>
                                    <td>

                                        <a aria-label="photo" class="md-icon-button" ng-click="ToAccountForm(item)">
                                            <md-tooltip md-direction="top">Edit detail</md-tooltip>
                                            <i class="material-icons">edit</i>
                                        </a>
                                        &nbsp;||                                            &nbsp;
                                        <a aria-label="photo" class="md-icon-button" href="@Url.Action("Index","GateTerminal")?AccountID={{item.AccountID}}">
                                            <md-tooltip md-direction="top">Gate Terminal</md-tooltip>
                                            <i class="material-icons">remove_red_eye</i>
                                        </a>

                                    </td>
                                </tr>
                                <tr ng-if="list.data.length == 0 && list.Search != '' && !list.loading">
                                    <td colspan="5">
                                        <i class="material-icons">info</i>
                                        <span style="vertical-align: super;">No matching "{{ list.Search }}" company were found.</span>

                                    </td>
                                </tr>

                                <tr ng-if="list.data.length == 0  && list.Search == '' && !list.loading">
                                    <td colspan="5">
                                        <i class="material-icons">info</i>
                                        <span style="vertical-align: super;">No company yet.</span>

                                    </td>
                                </tr>
                                <tr ng-if="list.loading">
                                    <td colspan="5">
                                        <i class="material-icons">info</i>
                                        <span style="vertical-align: super;">Loading data...</span>

                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers" align="center" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous" id="DataTables_Table_0_previous">
                                <a aria-controls="DataTables_Table_0" ng-click="PageIndexChange(-1)" ng-disabled="(list.totalPage == 0)" tabindex="0">Previous</a>
                            </li>
                            <li class="paginate_button">
                                <a aria-controls="DataTables_Table_0" tabindex="0">{{ (list.totalPage > 0) ? list.PageIndex : 0 }} of {{ list.totalPage }} - {{ list.total }} item(s)</a>
                            </li>
                            <li class="paginate_button next" id="DataTables_Table_0_next">
                                <a aria-controls="DataTables_Table_0" ng-click="PageIndexChange(1)" ng-disabled="(list.totalPage == 0)" tabindex="0">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>


                @*<div ng-if="mode=='GateTerminal' || mode=='GateTerminals'">
                        @Html.Partial("partial/GateTerminal")
                    </div>*@
            </div>
        </div>
    </div>
</div>